<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PizzaMore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/menu.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <div>
                <div class="col-md-2">
                    <h4>Lorem.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, veritatis autem unde sunt saepe,
                        inventore rerum impedit aperiam explicabo molestiae.</p>
                </div>
                <div class="col-md-2">
                    <h4>Minima.</h4>
                    <p>Voluptatibus nisi tempore cupiditate autem nesciunt molestiae hic ex deleniti inventore saepe, soluta
                        eveniet numquam explicabo repudiandae, sint. Corporis, at.</p>
                </div>
                <div class="col-md-2">
                    <h4>Nostrum.</h4>
                    <p>Quasi et, doloremque repellendus aliquid minus pariatur in aliquam nihil reiciendis quisquam cum eveniet,
                        natus repudiandae. Voluptatem aspernatur illo accusamus.</p>
                </div>
                <div class="col-md-2">
                    <h4>Architecto?</h4>
                    <p>Ipsa repellendus ab assumenda harum quod laboriosam aliquam vel, et odio saepe eos. Itaque consequatur
                        sunt eos. Beatae, delectus veritatis?</p>
                </div>
                <div class="col-md-2">
                    <h4>Aliquid.</h4>
                    <p>Aspernatur recusandae minima fuga sequi nostrum iste consequuntur sed doloribus facilis. Maiores quod
                        magni, quas natus sapiente saepe asperiores deleniti!</p>
                </div>
                <div class="col-md-2">
                    <h4>Dolore!</h4>
                    <p>Laudantium vel, cumque nihil quibusdam nobis, dolor totam quam fugit in eius! Dolores dolor, vitae ea
                        accusamus fuga, assumenda laborum.</p>
                </div>
            </div>
            <a href="home.exe" class="btn btn-danger">Home</a>
        </div>
    </div>
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>    
</body>

</html>