<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PizzaMore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/signin.css">
</head>

<body>
    <div class="container-fluid">
            <div class="row">
                <div class="jumbotron">
                <form method="POST" class="form-horizontal col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Enter an email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Enter a password">
                    </div>                    
                    <input type="checkbox" name="rememberMe" value="remember"> Remember me<br>
                    <div class="form-group" id="btns">
                        <a href="home.exe" class="btn btn-danger">Go back</a>
                        <input class="btn btn-success" type="submit" value="Sign in">
                    </div>                    
                </form>
                </div>          
            </div>
    </div>
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>